body {
    background-color: #1d1b1b;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .header {
    text-align: center;
    padding: 10px;
    background-color: #363333;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .main_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 30%;
    height: 30%;
    border-radius: 300px;
  }

  .intro  {
    text-align: left;
    text-wrap: wrap;
    width: 60%;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #4b4949;
    width: inherit;
    overflow: hidden;
    border-radius: 2.5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #406054;
    color: white;
  }