@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,600i,700,700i,800,800i");

html, body {
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

div#document h1, div#document h2, div#document h3, div#document h4, div#document h5, div#document h6, div#document p, div#document img, div#document .graphic {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

div#document {
    word-break: break-word;
}

div#document ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

div#document :focus {
    outline: 0;
}

div#document del {
    text-decoration: line-through;
}

div#document a img {
    border: none;
}

div#document ul, div#document li {
    list-style-type: disc;
}

div#document ul, div#document ol {
    margin: 0 0 0 12pt;
    padding: 0;
}

div#document ol {
    margin: 0 0 0 10pt;
}

div#document ul li, div#document ol li {
    padding: 0;
    margin-left: 5pt;
}

div#document ol li {
    list-style-type: decimal;
}

div#document .clear {
    clear: both;
    height: 0;
}

div#document br.clear {
    line-height: 0;
}

div#document div.name {
    font-size: 21pt;
    line-height: 30pt;
    border-bottom: 0pt dotted;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10pt;
    word-wrap: break-word;
    height: 80pt;
    vertical-align: top;
    display: table-cell;
}

div#document div.name span.field {
    display: block;
}

div#document div.paragraph {
    position: relative;
}

div#document [id^="SECTION_EDUC"] div.paragraph, div#document [id^="SECTION_EXPR"] div.paragraph {
    clear: both;
}

div#document div.address {
    position: relative;
    padding-bottom: 5pt;
}

div#document span.jobtitle, span.companyname, span.degree, span.programline, span.joblocation {
    font-style: none;
}

div#document span.jobtitle {
    display: block;
}

div#document .dateyear {
    color: #C3C3C3;
    text-transform: uppercase;
}

div#document span.paddedline {
    display: block;
    font-weight: 500;
}

div#document {
    color: #666;
    background-color: #FFF !important;
    line-height: 14pt;
    color: #333;
    position: relative;
    -webkit-print-color-adjust: exact;
}

div#document p font {
    color: #666 !important;
}

/* FIX for FORCEFULLY making left margin ZERO for CL */
div#document .skillSection:after {
    content: '';
    clear: both;
    display: table;
}

div#document div.skillSection .paragraph {
    width: 33%;
    float: left;
    padding-left: 15pt;
    padding-bottom: 5pt;
    box-sizing: border-box;
}

div#document div.skillSection .paragraph.firstparagraph {
    margin-top: 1pt;
}

div#document div.skillSection .paragraph:nth-child(3n+5) {
    clear: both;
}

div#document div.skillSection {
    width: 100%;
}

div#document div.skillSection .field {
    display: list-item;
    margin-left: 0;
    list-style-type: disc;
    vertical-align: text-top;
    padding-right: 4pt;
}

div#document div.skillSection .field:empty {
    display: inline;
}

div#document em {
    font-style: italic;
}

div#document strong, div#document b {
    font-weight: 700;
}

div#document.pagesize {
    width: 536pt;
    box-sizing: border-box;
}

div#document .section {
    padding-top: 9pt;
    padding-bottom: 9pt;
    width: 100%;
}

div#document div.firstsection {
    padding-top: 0;
    display: table;
    float: left;
    width: 225pt;
}

div#document div.firstsection.summary {
    float: none;
    width: auto;
}

div#document .section.contact-name {
    float: left;
    margin-top: 0;
    width: calc(100% - 132pt);
}

div#document div.SECTION_CNTC {
    float: right;
    padding-bottom: 6pt;
    padding: 0;
    font-weight: 400;
    width: 132pt;
    margin-top: 0;
}

div#document div.heading {
    margin-bottom: 7pt;
    border-bottom: 0pt;
    font-weight: 600;
    clear: both;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding-left: 8pt;
}

div#document div.paragraph {
    font-size: inherit;
}

div#document .singlecolumn, div#document .maincolumn {
    margin-left: 0;
    width: 97%;
    font-weight: 400;
    padding-left: 10pt;
}

div#document .singlecolumn li {
    margin-bottom: 5pt;
}

div#document .sectionCL .singlecolumn {
    padding-left: 0pt;
}

/* FIX for Re-calculating width of singlecolumn for CL */
div#document .graphic {
    float: left;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 66pt;
    height: 66pt;
    font-size: 24pt;
    line-height: 74pt;
    vertical-align: middle;
    padding: 0;
    clear: both;
    display: inline;
    margin: 4px;
    position: relative;
    font-weight: 700;
    border: 2.5pt solid;
}

div#document .datesWrapper {
    float: right;
    display: inline-block;
    margin: 0 0 8pt 35pt;
}

div#document .graphic i {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 1.5pt solid;
    display: block;
    position: relative;
    left: 0;
    top: 34pt;
}

div#document .graphic .textTop {
    position: absolute;
    top: -16pt;
    left: 8pt;
    font-weight: 500;
}

div#document .graphic .textBtm {
    position: absolute;
    bottom: -21pt;
    right: 8pt;
    font-weight: 500;
}

div#document .city-name {
    display: inline-block;
    white-space: nowrap;
}

div#document .section.photo-cv {
    position: absolute;
    width: 67pt;
    height: 67pt;
    margin-top: 0;
    padding: 0;
}

div#document .section.photo-cv span {
    display: block;
}

div#document .section.photo-cv img {
    max-width: 100%;
    height: 67pt;
    width: 67pt;
}

div#document .section.photo-cv + .SECTION_NAME .graphic {
    display: none;
}

div#document .section.photo-cv + .SECTION_NAME .name {
    padding-left: 80pt;
}

div#document .section.photo-cv + .SECTION_NAME + .SECTION_CNTC {
    padding-top: 1pt;
}

@media print {
    div#document.pagesize {
        width: 100%;
    }
}

body {
    font-feature-settings: "liga" 0;
    -moz-font-feature-settings: "liga" off;
}

div#document .clearDiv {
    clear: both;
}

/* css to break long email */
div#document .address .longEmail {
    display: block;
    word-break: break-all;
}

div#document div.address > span.contactDependecy:last-child > span.contactSeperator {
    display: none;
}

div#document .contact-name + .section {
    padding-top: 6pt;
}

div#document .SECTION_CNTC + .section {
    padding-top: 9pt;
    display: inline-block;
}

div#document .margin-tp10 {
    margin-top: 7pt;
}

div#document div.SECTION_CNTC {
    right: 0.75in;
}

div#document.vmargins {
    padding-top: 28pt;
    padding-bottom: 28pt;
}

div#document.hmargins {
    padding-left: 0.75in;
    padding-right: 0.75in;
}

div#document.fontsize {
    font-size: 9pt;
    font-weight: 400;
}

div#document.fontface {
    font-family: Raleway;
}

div#document div.sectiontitle {
    font-size: 11pt;
    line-height: 23pt;
    font-weight: 600;
}

/* Color ribbon styles */
div#document .graphic {
    color: #2f527b;
    box-shadow: 0 0 0 2pt #2f527b;
    -webkit-box-shadow: 0 0 0 2pt #2f527b;
    -moz-box-shadow: 0 0 0 2pt #2f527b;
}

div#document div.name {
    color: #2f527b;
}

div#document div.sectiontitle {
    color: #2f527b;
}

/* Color ribbon Styles ENDS HERE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    div#document.hmargins {
        padding-left: 0.30000000000000004in;
        padding-right: 0.30000000000000004in;
    }
}

/* used LRMRM for mobile */
@media only screen and (max-width: 767px) {
    div#document.hmargins {
        padding-left: 0.10000000000000003in;
        padding-right: 0.10000000000000003in;
    }

    div#document .section {
        line-height: 14pt;
    }
}

button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: none;
    background: #2f527b;
    color: #fff;
}

@media print { 
    button { 
      display: none!important;
     } 
    }