@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,600i,700,700i,800,800i");

div#document div.name {
    font-size: 21pt;
    line-height: 30pt;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10pt;
    word-wrap: break-word;
    height: 80pt;
    vertical-align: top;
    display: table-cell;
}

div#document div.name span.field {
    display: block;
}

div#document div.paragraph {
    position: relative;
    padding-top: 0px;
}

div#document [id^="SECTION_EDUC"] div.paragraph, div#document [id^="SECTION_EXPR"] div.paragraph {
    clear: both;
}

div#document div.address {
    position: relative;
    padding-bottom: 5pt;
}

div#document span.jobtitle {
    display: block;
}

div#document .dateyear {
    color: #C3C3C3;
    text-transform: uppercase;
}

div#document span.paddedline {
    display: block;
    font-weight: 500;
}

div#document {
    font-family: Raleway;
    background-color: #FFF !important;
    line-height: 14pt;
    color: #333;
    position: relative;
    -webkit-print-color-adjust: exact;
}

div#document p font {
    color: #666 !important;
}

/* Ensures that the skill section clears any floated elements */
div#document .skillSection:after {
    content: '';
    clear: both;
    display: table;
}

div#document div.skillSection .paragraph {
    width: 33%;
    float: left;
    padding-left: 15pt;
    padding-bottom: 5pt;
    box-sizing: border-box;
}

div#document div.skillSection .paragraph:nth-child(3n+5) {
    clear: both;
}

div#document div.skillSection {
    width: 100%;
    padding-top: 0px;
}

div#document div.skillSection .field {
    display: list-item;
    margin-left: 0;
    list-style-type: disc;
    vertical-align: text-top;
    padding-right: 4pt;
}

div#document div.skillSection .field:empty {
    display: inline;
}

div#document.pagesize {
    width: 536pt;
    box-sizing: border-box;
}

div#document .section {
    padding-top: 9pt;
    padding-bottom: 9pt;
    width: 100%;
}

div#document div.summary {
    float: none;
    width: auto;
    padding-top: 0px;
}

div#document .section.contact-info {
    float: left;
    margin-top: 0;
    width: calc(100% - 132pt);
}

div#document div.SECTION_CNTC {
    float: right;
    padding-bottom: 6pt;
    padding: 0;
    font-weight: 400;
    width: 132pt;
    margin-top: 0;
}

div#document div.heading {
    margin-bottom: 7pt;
    border-bottom: 0pt;
    font-weight: 600;
    clear: both;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding-left: 8pt;
    padding-top: 0px;
}

div#document .singlecolumn, div#document .maincolumn {
    margin-left: 0;
    width: 97%;
    font-weight: 400;
    padding-left: 10pt;
}

div#document .singlecolumn li {
    margin-bottom: 5pt;
}

div#document .sectionCL .singlecolumn {
    padding-left: 0pt;
}

div#document .graphic {
    float: left;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 66pt;
    height: 66pt;
    font-size: 24pt;
    line-height: 74pt;
    vertical-align: middle;
    padding: 0;
    clear: both;
    display: inline;
    margin: 4px;
    position: relative;
    font-weight: 700;
    border: 2.5pt solid;
    /* Color ribbon styles */
    color: #2f527b;
    box-shadow: 0 0 0 2pt #2f527b;
    -webkit-box-shadow: 0 0 0 2pt #2f527b;
    -moz-box-shadow: 0 0 0 2pt #2f527b;
}

div#document .graphic i {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 1.5pt solid;
    display: block;
    position: relative;
    left: 0;
    top: 34pt;
}

div#document .graphic .textTop {
    position: absolute;
    top: -16pt;
    left: 8pt;
    font-weight: 500;
}

div#document .graphic .textBtm {
    position: absolute;
    bottom: -21pt;
    right: 8pt;
    font-weight: 500;
}

div#document .datesWrapper {
    float: right;
    margin: 0 0 8pt 35pt;
}

div#document .city-name {
    display: inline-block;
    white-space: nowrap;
}

div#document .section.photo-cv + .SECTION_NAME .graphic {
    display: none;
}

div#document .section.photo-cv + .SECTION_NAME .name {
    padding-left: 80pt;
}

div#document .section.photo-cv + .SECTION_NAME + .SECTION_CNTC {
    padding-top: 1pt;
}

body {
    font-feature-settings: "liga" 0;
    -moz-font-feature-settings: "liga" off;
}

/* css to break long email */
div#document .address .longEmail {
    display: block;
    word-break: break-all;
}

div#document div.address > span.contactDependecy:last-child > span.contactSeperator {
    display: none;
}

div#document .contact-name + .section {
    padding-top: 6pt;
}

div#document .SECTION_CNTC + .section {
    padding-top: 9pt;
    display: inline-block;
}

div#document .margin-tp10 {
    margin-top: 7pt;
}

div#document div.SECTION_CNTC {
    right: 0.75in;
}

div#document.vmargins {
    padding-top: 28pt;
    padding-bottom: 28pt;
}

div#document.hmargins {
    padding-left: 0.75in;
    padding-right: 0.75in;
}

div#document.fontsize {
    font-size: 9pt;
    font-weight: 400;
}

div#document.fontface {
    font-family: Raleway;
}

div#document div.sectiontitle {
    font-size: 11pt;
    line-height: 23pt;
    font-weight: 600;
}

div#document div.name {
    color: #2f527b;
}

div#document div.sectiontitle {
    color: #2f527b;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    div#document.hmargins {
        padding-left: 0.30000000000000004in;
        padding-right: 0.30000000000000004in;
    }
}

/* used LRMRM for mobile */
@media only screen and (max-width: 767px) {
    div#document.hmargins {
        padding-left: 0.10000000000000003in;
        padding-right: 0.10000000000000003in;
    }
}

button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: none;
    background: #2f527b;
    color: #fff;
    border-radius: 3px;
}

@media print { 
    button { 
      display: none!important;
     } 
     div#document.pagesize {
        width: 100%;
    }
}