name: Dependabot
on:
  workflow_run:
    workflows: ["Spell Check"]
    types:
      - completed

  workflow_dispatch:

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
